@model ResumeApp.Models.Information

@{
    ViewData["Title"] = "Details";
}



<h1> <b> @Html.DisplayFor(model => model.FullName)'s </b> Resume</h1>

<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FullName) </br>
            <b> @Html.DisplayFor(model => model.FullName) </b>
        </dt>
        <dd class="col-sm-10">
            <b> @Html.DisplayNameFor(model => model.AboutMe) </b> </br>
            @Html.DisplayFor(model => model.AboutMe)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email) </br>
            @Html.DisplayFor(model => model.Email) </br>
          </br>  @Html.DisplayNameFor(model => model.Birthday) </br>
            @Html.DisplayFor(model => model.Birthday) </br>
           </br> @Html.DisplayNameFor(model => model.PhoneNumber) </br>
            (+383)@Html.DisplayFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            <b> @Html.DisplayNameFor(model => model.Experience) </b> </br>
               @Html.DisplayFor(model => model.Experience)
        </dd>
        <dt class="col-sm-2">
        
        </dt>
        <dd class="col-sm-10">
          <b>  @Html.DisplayNameFor(model => model.Skills) </b></br>
            @Html.DisplayFor(model => model.Skills)
        </dd>
        <dt class="col-sm-2">
        
        </dt>
        <dd class="col-sm-10">
            <b> @Html.DisplayNameFor(model => model.Hobbies) </b> </br>
            @Html.DisplayFor(model => model.Hobbies)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
