@model ResumeApp.Models.Information

@{
    ViewData["Title"] = "Details";
}



<h1>@Html.DisplayFor(model => model.FullName)'s Cv</h1>

<div>
    <h4>User Information</h4>

    
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
              @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class = "col-sm-10">
           <b> @Html.DisplayFor(model => model.FullName) </b> 
        </dd>
        <dt class = "col-sm-2">
           @Html.DisplayNameFor(model => model.Email) 
        </dt>
        <dd class = "col-sm-10">
           @Html.DisplayFor(model => model.Email) 
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Birthday) 
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Birthday) 
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
           @Html.DisplayNameFor(model => model.AboutMe) 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AboutMe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Experience) 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Experience)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Skills) 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Skills)
        </dd>
        <dt class = "col-sm-2">
           @Html.DisplayNameFor(model => model.Hobbies) 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hobbies)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
